.container {
  display: flex;
  background-color: #f9fafb;
  margin-top: 120px;

}

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%; 
  height: 100%;
  background-color: #f9fafb;
  padding: 20px;
  overflow-y: auto;
}

.prods-container {
  margin-left: 15%; 
  width: 85%;
  padding: 20px;
  overflow-y: scroll; 
  height: 100vh; 
}

.prods .prods-item {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.prods .prods-item:hover {
  transform: scale(1.05);
}
